#tochy.config
#Wed Aug 20 17:28:26 JST 2014
user.name=yamako-test
user.mode=\u30B5\u30FC\u30D0
window.top=100
window.left=120
window.width=540
window.height=380
color.fore.r=255
color.fore.g=254
color.fore.b=253
color.back.r=0
color.back.g=1
color.back.b=2
font.size=16
font.name=Test Font
log.enable=false
net.address=192.168.1.123
